ADMIN_USERNAME = admin
ADMIN_PASSWORD = admin123
JWT_SECRET = your_jwt_secret

# smtp/email configuration
EMAIL_SMTP_HOST= 
EMAIL_SMTP_PORT=
EMAIL_SMTP_USERNAME =
EMAIL_SMTP_PASSWORD = 
# optional for email
EMAIL_FROM_ADDRESS=
# false for now
EMAIL_USE_TLS=

# Resend Configuration
RESEND_API_KEY=
RESEND_FROM_ADDRESS=

# Mysql Configuration
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=root
DB_HOST=agni-mysql
DB_PORT=3306
MYSQL_DATABASE=agni

# Redis Configuration
REDIS_HOST=agni-redis

# Server
SERVER_PORT=8080

# Twilio Configuration
TWILIO_PHONE_NUMBER=""
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""

# Web push Notifications
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
VAPID_SUBJECT=""